{{#each errors}}
<div class="alert alert-danger">{{Texto}}</div>
{{/each}}
<h3 class="mt-3">User Edition</h3>
<div class="card mt-2">
    <div class="card-body">
        <form action="/pathospotterlabeling/admin/users/edit/" method="post">
            <input type="hidden" name="id" value="{{user.id}}">
            <label for="name">Username: </label>
            <input type="text" name="name" id="name" placeholder="Username" value="{{user.name}}"
                class="form-control">
            <label for="email">User Login: </label>
            <input type="email" name="email" id="email" placeholder="User Login" value="{{user.email}}"
                class="form-control">
            <label for="institution">User Institution: </label>
            <input type="text" name="institution" id="institution" placeholder="User Institution"
                value="{{user.institution}}" class="form-control">
                <hr>
            <input type="checkbox" id="isAllowed" name="isAllowed">
            <label class="form-check-label" for="isAllowed">User Permission.</label>
            <hr>
            <input type="checkbox" id="isAdmin" name="isAdmin">
            <label class="form-check-label" for="isAdmin">Admin Permission.</label>
            <script>
                if({{user.isAdmin}} == 1){
                    document.getElementById('isAdmin').checked = true;
                }
                if({{user.isAllowed}} == 1){
                    document.getElementById('isAllowed').checked = true;
                }
            </script>
            <!--<label for="isAllowed">Permissão de Acesso: </label>
            <input type="text" name="isAllowed" id="isAllowed" placeholder="Permissão do Usuário"
                value="{{user.isAllowed}}" class="form-control">
            <label for="isAdmin">Permissão de Administrador: </label>
            <input type="text" name="isAdmin" id="isAdmin" placeholder="Permissão do Usuário" value="{{user.isAdmin}}"
                class="form-control"> -->
            <hr>
            <button type="submit" class="btn btn-success"
                style="background-color: #a50300; border-color: #a50300;">Confirm</button>
        </form>
    </div>
</div>