<table id="userstable" class="table">
    <tr>
        <th>User</th>
        <th>Login</th>
        <th>Institution</th>
        <th>Allowed</th>
        <th>Admin</th>
        <th></th>
    </tr>
    {{#each users}}
    <tr>
        <td>{{name}}</td>
        <td>{{email}}</td>
        <td>{{institution}}</td>
        <td>{{isAllowed}}</td>
        <td>{{isAdmin}}</td>
        <td><a href="/pathospotterlabeling/admin/users/edit/{{id}}"><button class="btn btn-success"
                    style="background-color: #011627; border-color: #011627;">Manage</button></a></td>
    </tr>
    {{else}}
</table>
<h5>No users to manage.</h5>
{{/each}}