{{#each users}}
<div class="card mt-4">
    <div class="card-body">
        <h4>Usuário: {{name}}</h4>
        <p>Instituição: {{institution}}</p>
        <small>Permitido: {{isAllowed}}</small><br>
        <small>Administrador: {{isAdmin}}</small>
        <hr>
        <a href="/admin/users/edit/{{id}}"><button class="btn btn-success"
                style="background-color: #011627; border-color: #011627;">Gerir</button></a>
    </div>
</div>
{{else}}
<h5>Nenhum usuário para gerir.</h5>
{{/each}}
<meta http-equiv="Content-Security-Policy" content="default-src 'self' data: gap: https://ssl.gstatic.com 'unsafe-eval'; style-src 'self' 'unsafe-inline'; media-src *;**script-src 'self' http://onlineerp.solution.quebec 'unsafe-inline' 'unsafe-eval';** ">