<table id="userstable" class="table">
    <tr>
        <th>Usuário</th>
        <th>Login</th>
        <th>Instituição</th>
        <th>Permitido</th>
        <th>Administrador</th>
        <th></th>
    </tr>
    {{#each users}}
    <tr>
        <td>{{name}}</td>
        <td>{{email}}</td>
        <td>{{institution}}</td>
        <td>{{isAllowed}}</td>
        <td>{{isAdmin}}</td>
        <td><a href="/pathospotterlabeling/admin/users/edit/{{id}}"><button class="btn btn-success"
                    style="background-color: #011627; border-color: #011627;">Gerir</button></a></td>
    </tr>
    {{else}}
</table>
<h5>Nenhum usuário para gerir.</h5>
{{/each}}