<h3>Image Comment</h3>
<div class="card">
    <div class="card-body">
        <img src="/pathospotterlabeling/images/{{img.name}}" class="img-thumbnail" alt="Image: {{img.name}}"
            style="max-width: max-content; display: block; margin: auto;"><br>
        <form action="/pathospotterlabeling/user/images/comment" method="post">
            <input type="hidden" name="imgid" value="{{img.id}}">
            <!--
            <label for="email">Confirme seu e-mail:</label>
            <input type="email" name="email" id="" class="form-control" required>
            <label for="label">Rótulo: </label>
            <input type="text" name="label" id="" class="form-control" required>
            -->
            <div class="form-group">
                <label><h5>Diagnosis of lesion(s) presented:</h5></label><br>
                {{#each lesions}}
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="checkbox" value="{{id}}" id="{{id}}" name="lesion">
                    <label class="form-check-label" for="flexCheckDefault">
                        {{label}}.
                    </label>
                </div>
                {{else}}
                <p>Please register lesions before assigning them to images.</p>
                {{/each}}
                <!--
CREATE TABLE lesions (id int NOT NULL AUTO_INCREMENT, label varchar(255) NOT NULL, PRIMARY KEY (id));
INSERT INTO lesions (label, createdAt, updatedAt) VALUES ('Crescente', '2021-02-03 18:23:13', '2021-02-03 18:23:13'), ('Diabética', '2021-02-03 18:23:13', '2021-02-03 18:23:13'), ('Esclerose Global', '2021-02-03 18:23:13', '2021-02-03 18:23:13'), ('Esclerose Segmentar', '2021-02-03 18:23:13', '2021-02-03 18:23:13'), ('Hipercelularidade', '2021-02-03 18:23:13', '2021-02-03 18:23:13'), ('Membranoproliferativa', '2021-02-03 18:23:13', '2021-02-03 18:23:13'), ('Membranosa', '2021-02-03 18:23:13', '2021-02-03 18:23:13'), ('Necrose', '2021-02-03 18:23:13', '2021-02-03 18:23:13'), ('Normal', '2021-02-03 18:23:13', '2021-02-03 18:23:13'), ('Podocitopatia', '2021-02-03 18:23:13', '2021-02-03 18:23:13');
                <label for="label">Rótulo: </label>
                <select class="form-control" id="label" name="label" required>
                    <option>Crescente</option>  Dr. W 
                    <option>Diabética</option>  Dr. W 
                    <option>Esclerose Global</option>  Dr. W 
                    <option>Esclerose Segmentar</option>  Dr. W 
                    <option>Hipercelularidade</option>  Dr. W 
                    <option>Membranoproliferativa</option>  Dr. W 
                    <option>Membranosa</option>  Dr. W 
                    <option>Necrose</option>  Dr. W 
                    <option>Normal</option>  Dr. W 
                    <option>Podocitopatia</option>  Dr. W 
                </select>
                -->
            </div>
            <label for="comment"><h5>Comment: </h5></label>
            <input type="text" name="comment" id="" class="form-control">
            <button type="submit" class="btn btn-success mt-3">Comment</button>
        </form>
    </div>
</div>