<h3>Análise de Imagem</h3>
<div class="card mt-3">
    <div class="card-body" style="">
        <img src="/images/{{img.name}}" class="img-thumbnail" alt="Imagem: {{img.name}}"
            style="max-width: max-content; display: block; margin: auto;"><br>
        {{#each comments}}
        <hr>
        <h4>Rótulo: {{label}}</h4>
        <h6>Justificativa: {{text}}</h6>
        <small>Usuário: {{username}}</small><br>
        <form action="/user/images/comment/delete" method="post">
            <input type="hidden" name="commentid" value="{{id}}">
            <button type="submit" class="btn btn-danger mt-3"
                style="background-color: #a50300; border-color: #a50300; color: #FDFFFC; display: block;">Apagar
                Comentário</button>
        </form>
        {{else}}
        <p>Ainda não há comentários disponíveis para esta imagem.</p>
        {{/each}}
        <hr>
        <a href="/pathospotterlabeling/user/images/comment/{{img.id}}"><button type="submit" class="btn btn-success"
                style="background-color: #a50300; border-color: #a50300; color: #FDFFFC; display: block; margin: auto;">Comentar</button></a><br>
    </div>
</div>
