{{#if msg}}
<div class="alert alert-danger">{{msg}}</div>
{{else}}

{{/if}}

<br>
<div class="dropdown" style="float: right;">
    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown"
        aria-haspopup="true" aria-expanded="false">
        Filter Images
    </button>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <a class="dropdown-item" href="/pathospotterlabeling/user/images/selectby/1">My Images</a>
        <a class="dropdown-item" href="/pathospotterlabeling/user/images/selectby/2">Most Recent</a>
        <a class="dropdown-item" href="/pathospotterlabeling/user/images/selectby/3">No Label</a>
    </div>
</div>
<h3>Images:</h3>

<div class="card mt-3">
    <div class="row">
        {{#each images}}
        <div class="col">
            <img src="/pathospotterlabeling/images/{{name}}" class="img-thumbnail" alt="Image: {{name}}"
                style="max-width:300px; max-height:300px; display: inline-block; margin: auto;"><br><br>
            <a href="/pathospotterlabeling/user/images/comment/{{id}}"><button type="submit" class="btn"
                    style="background-color: #a50300; border-color: #a50300; color: #FDFFFC; display: inline-block; margin: auto;">Comment</button></a>
            <a href="/pathospotterlabeling/user/images/displaycomments/{{id}}"><button type="submit" class="btn"
                    style="background-color: #011627; border-color: #011627; color: #FDFFFC; display: inline-block; margin: auto;">View
                    Comments</button></a>
            <hr />
        </div>

        {{else}}
        <h4>We're sorry. No images available for tagging.</h4>
        {{/each}}
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
    integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
    crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
    integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
    crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
    integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
    crossorigin="anonymous"></script>